<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>

    <div class="px-4 py-5 my-5 text-center"><%- cnpj_certificate %></div>

    <%- include ("../partials/scripts.ejs") %>
  </body>
</html>
